.button
	+basis-button

.button-dark
	+basis-button-extend(#222)

.button-info
	+basis-button-extend($color-info)

.button-success
	+basis-button-extend($color-success)

.button-warning
	+basis-button-extend($color-warning)

.button-small
	height: 20px
	padding: 0 10px
	font-size: 0.8em
	line-height: 20px

.button-large
	height: 45px
	font-size: 1.9em
	line-height: 45px
