.form
	legend
		display: none

	label
		display: block
		margin-bottom: 25px
		font-size: 1.1em

		&.check
			margin-bottom: 5px
			cursor: pointer
			font-size: 0.9em

	.label
		margin-bottom: 10px
		font-size: 1.1em

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea
		@extend .field-text

		display: block
		width: 100%
		margin-top: 5px

	textarea
		height: 60px
		padding: 10px

	select
		@extend .field-text

		display: block
		width: 100%
		margin-top: 5px
		padding-right: 0

	input[type="file"]
		+box-sizing(border-box)

		display: block
		margin-top: 10px
		border: none

	[readonly]
		background: #e9e9e9 !important

.field-note
	display: block
	margin-top: 7px
	color: #666
	font-size: 0.9em

.field-loading
	background:
		// image: image-url('ajax-loader.gif') !important
		position: 97% 50% !important
		repeat: no-repeat !important

.field-amount
	input
		@extend .field-text

		display: block
		width: 60px
		margin: 0 auto 5px
		text-align: center

	a
		@extend .link

		display: none
		font-size: 0.9em
