body
	background: #fff
	color: $color-dark
	font:
		size: 1.1em
		family: $font-custom-2
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-rendering: auto

strong
	font-weight: bold

em
	font-style: italic

button
	cursor: pointer

[disabled]
	+opacity(0.5)

	cursor: default


.clear
	clear: both !important

.nowrap
	white-space: nowrap !important

.clearfix
	&:after
		content: ''
		display: table !important
		clear: both !important


.display-none
	display: none !important

.display-block
	display: block !important

.display-inline
	display: inline !important

.display-inline-block
	display: inline-block !important


+basis-property-range('width', '.width', 10, 1000, 5, 'px')
+basis-property-range('height', '.height', 10, 1000, 5, 'px')


.float-none
	float: none !important

.float-left
	float: left !important

.float-right
	float: right !important


+basis-property-range('margin', '.margin', 0, 0, 1, '')
+basis-property-range('margin-top', '.margin-top', 0, 100, 5, 'px')
+basis-property-range('margin-right', '.margin-right', 0, 100, 5, 'px')
+basis-property-range('margin-bottom', '.margin-bottom', 0, 100, 5, 'px')
+basis-property-range('margin-left', '.margin-left', 0, 100, 5, 'px')


.color-black
	color: #000 !important

.color-white
	color: #fff !important

.color-warning
	color: $color-warning !important

.color-success
	color: $color-success !important

.color-danger
	color: $color-danger !important

.color-info
	color: $color-info !important


.text-xlarge
	font-size: 1.2em !important

.text-large
	font-size: 1.1em !important

.text-small
	font-size: 0.9em !important

.text-xsmall
	font-size: 0.8em !important


.align-left
	text-align: left !important

.align-right
	text-align: right !important

.align-center
	text-align: center !important

.align-justify
	text-align: justify !important


.separate
	padding-top: 15px
	border-top: 2px solid #ddd
