h1, h2, h3, h4, h5, h6
	font-family: $font-custom-3

.heading-box
	margin-bottom: 20px
	font:
		weight: bold
		size: 1.7em
	letter-spacing: -1px

.heading-page
	margin-bottom: 30px
	font:
		weight: bold
		size: 3.3em
	letter-spacing: -2px

.heading-group
	@extend .clearfix

	margin-bottom: 30px

	span
		+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
		+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
		+border-radius(3px)

		display: block
		float: left
		padding: 5px 10px
		background: $color-dark
		color: #fff
		font-size: 1.1em
		text-transform: uppercase

.heading-label
	margin-bottom: 10px
	font-size: 1.1em

.heading-large
	margin-bottom: 30px
	font:
		weight: bold
		size: 2em
	letter-spacing: -1px
