// Property Range
@mixin basis-property-range($property, $prefix, $start, $end, $factor, $unit)
	$i: $start

	@while $i <= $end
		#{$prefix}-#{$i}
			#{$property}: #{$i + $unit} !important
		$i: $i + $factor

// Grid
@mixin basis-grid($items: 5, $gap: 3.5%)
	.basis-grid
		@extend .clearfix

		.basis-grid-item
			min-height: 1px
			float: left
			margin-right: $gap

			&:last-child
				margin: 0

	@for $i from 1 through $items
		.basis-grid-items-#{$i}
			$width: (100% - ($gap * ($i - 1))) / $i

			.basis-grid-item
				width: $width

			@for $j from 2 through ($i - 1)
				.basis-grid-item-span-#{$j}
					width: ($width * $j) + ($gap * ($j - 1))

	.basis-grid-collapse
		.basis-grid-item
			margin: 0

		@for $i from 1 through $items
			$width: 100% / $i

			&.basis-grid-items-#{$i}
				.basis-grid-item
					width: $width

				@for $j from 2 through ($i - 1)
					.basis-grid-item-span-#{$j}
						width: $width * $j

// Button
@mixin basis-button($color: #888)
	+border-radius(3px)
	+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
	+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
	+box-sizing(border-box)
	+transition(all 0.1s)

	display: inline-block
	height: 30px
	margin-left: 5px
	padding: 0 20px
	border: none
	background-color: $color
	color: #fff
	font:
		size: 1.5em
		family: $font-system
	line-height: 30px
	text:
		transform: uppercase
		decoration: none

	&:hover
		background-color: lighten($color, 5%)

	&[disabled]
		background-color: $color

@mixin basis-button-extend($color)
	background-color: $color

	&:hover
		background-color: lighten($color, 5%)

	&[disabled]
		background-color: $color

// Box Color
@mixin basis-box-color($color: #777)
	border-color: lighten($color, 35%)
	background-color: lighten($color, 50%)
	color: $color

	a
		color: $color
