.pagination
	margin-top: 15px
	text-align: center

	ul
		display: inline-block

		li
			display: block
			float: left
			border-left: 1px solid #fff
			color: #888

			span,
			a
				display: block
				padding: 10px
				background: #ddd

			a
				+transition(all 0.1s)

				color: $color-dark
				text-decoration: none

				&:hover
					background: #ccc

			&.current
				span,
				a
					background: $color-dark
					color: #fff

			&:first-child
				border-left: none

				span,
				a
					+border-left-radius(3px)

			&:last-child
				span,
				a
					+border-right-radius(3px)
