.panel
	+border-radius(3px)

	padding: 15px
	border: 1px solid #ddd
	background: #eee
	line-height: 130%

.panel-group
	margin-bottom: 15px

.panel-action
	margin-top: 15px
	padding-top: 15px
	border-top: 1px solid #ddd
	text-align: right

	ul
		display: inline-block

		li
			display: inline
			margin: 0 15px
			padding-left: 10px

			a
				@extend .link

.panel-scroll
	height: 100px
	overflow: auto
	padding: 15px
	background: #eee

.panel-stamp
	+border-radius(100px)
	+box-sizing(border-box)

	width: 200px
	height: 200px
	margin: 0 auto
	background:
		color: #ddd
		position: 50% 50%
		repeat: no-repeat

.panel-message
	+border-radius(100px)
	+box-sizing(border-box)

	width: 150px
	height: 150px
	margin: 0 auto
	padding: 75px 15px 15px
	border-bottom: 1px solid #ccc
	background:
		color: #fff
		position: 50% 25px
		repeat: no-repeat
	color: #888
	font-size: 0.9em
	line-height: 130%
	text-align: center

	a
		@extend .link

// .panel-message-empty
// 	background-image: image-url('ico-empty.png')

.panel-link
	a
		+transition(all 0.2s)

		display: block
		padding-top: 10px
		border:
			top: 2px solid $color-custom-1
			bottom: none
		color: #000
		text-decoration: none

		&:hover
			color: $color-custom-1
