.tag-main
	+border-radius(3px)

	display: inline-block
	padding: 5px
	background: #999
	color: #fff
	font:
		weight: bold
		size: 0.9em
	line-height: 120%

.tag-main-warning
	background: $color-warning

.tag-main-success
	background: $color-success

.tag-main-error
	background: $color-danger

.tag-main-info
	background: $color-info
