.text
	a
		@extend .link

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		margin-bottom: 15px
		font:
			weight: bold
			family: $font-system
		line-height: 120%

	h1
		font-size: 2.8em
		letter-spacing: -1px

	h2
		font-size: 2.2em
		letter-spacing: -1px

	h3
		font-size: 1.8em

	h4
		font-size: 1.6em

	h5
		font-size: 1.4em

	h6
		font-size: 1.2em

	p
		margin-bottom: 1em
		font-size: 1.2em
		line-height: 160%

	ul
		margin: 0 0 1em 15px
		font-size: 1.2em
		line-height: 160%

		li
			list-style: inside disc

			ul
				margin-bottom: 0
				font-size: 1em

				li
					list-style: inside circle

.text-small
	font-size: 0.9em

	p,
	ul
		margin-bottom: 0.5em
